body.body-practica1{
    background: rgb(247,246,246);
    background: radial-gradient(circle, rgba(247,246,246,1) 50%, rgba(200,199,199,1) 90%, rgba(171,171,171,1) 100%);
}
body .container{
    font-family: 'Roboto Mono', monospace;
    padding-top: 4rem;
}
h2.title{
    font-weight: bold;
}
.contenedor-img{
    border: 0.1rem solid rgba(222,216,216,0.75);
    border-radius: 100%;
    overflow: hidden;
    height: 27vh;
    background-image: url("../img/marilin.jpg");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
}

.col-12.col-md-8.contenido-texto{
    margin-top:2rem
}
.btn.my-btn:hover{
    font-weight: bold;
    background-color: white;
}

@media (max-width: 700px) {
    .contenedor-img{
        height: 22vh;
        margin-bottom: 1.5rem;
    }
    .contenedor-img img {
        width: 9rem;
    }
    
}